<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.truck.dao.ExportsListsMapper" >
  <resultMap id="BaseResultMap" type="com.truck.pojo.ExportsLists" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="customs_clearance" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="destination" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="package_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="serial_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parts_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parts_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parts_en_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="quinty" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="buy_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="sale_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="cart_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, customs_clearance, destination, package_no, serial_no, parts_no, parts_name, 
    parts_en_name, unit, quinty, buy_price,sale_price, cart_type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from truck_exports_lists
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from truck_exports_lists
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.truck.pojo.ExportsLists" >
    insert into truck_exports_lists (id, user_id, customs_clearance, 
      destination, package_no, serial_no, 
      parts_no, parts_name, parts_en_name, 
      unit, quinty, buy_price,sale_price,
      cart_type, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{customsClearance,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{packageNo,jdbcType=VARCHAR}, #{serialNo,jdbcType=VARCHAR}, 
      #{partsNo,jdbcType=VARCHAR}, #{partsName,jdbcType=VARCHAR}, #{partsEnName,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{quinty,jdbcType=INTEGER}, #{buyPrice,jdbcType=DECIMAL}, #{salePrice,jdbcType=DECIMAL},
      #{cartType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.truck.pojo.ExportsLists" useGeneratedKeys="true" keyProperty="id">
    insert into truck_exports_lists
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="customsClearance != null" >
        customs_clearance,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="packageNo != null" >
        package_no,
      </if>
      <if test="serialNo != null" >
        serial_no,
      </if>
      <if test="partsNo != null" >
        parts_no,
      </if>
      <if test="partsName != null" >
        parts_name,
      </if>
      <if test="partsEnName != null" >
        parts_en_name,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="quinty != null" >
        quinty,
      </if>
      <if test="buyPrice != null" >
        buy_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="cartType != null" >
        cart_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="customsClearance != null" >
        #{customsClearance,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="packageNo != null" >
        #{packageNo,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="partsNo != null" >
        #{partsNo,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsEnName != null" >
        #{partsEnName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="quinty != null" >
        #{quinty,jdbcType=INTEGER},
      </if>
      <if test="buyPrice != null" >
        #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="cartType != null" >
        #{cartType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.truck.pojo.ExportsLists" >
    update truck_exports_lists
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="customsClearance != null" >
        customs_clearance = #{customsClearance,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="packageNo != null" >
        package_no = #{packageNo,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        serial_no = #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="partsNo != null" >
        parts_no = #{partsNo,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        parts_name = #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsEnName != null" >
        parts_en_name = #{partsEnName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="quinty != null" >
        quinty = #{quinty,jdbcType=INTEGER},
      </if>
      <if test="buyPrice != null" >
        buy_price=#{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        sale_price=#{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="cartType != null" >
        cart_type = #{cartType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.truck.pojo.ExportsLists" >
    update truck_exports_lists
    set user_id = #{userId,jdbcType=INTEGER},
      customs_clearance = #{customsClearance,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      package_no = #{packageNo,jdbcType=VARCHAR},
      serial_no = #{serialNo,jdbcType=VARCHAR},
      parts_no = #{partsNo,jdbcType=VARCHAR},
      parts_name = #{partsName,jdbcType=VARCHAR},
      parts_en_name = #{partsEnName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      quinty = #{quinty,jdbcType=INTEGER},
      buy_price=#{buyPrice,jdbcType=DECIMAL},
      sale_price=#{salePrice,jdbcType=DECIMAL},
      cart_type = #{cartType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="bachInsertExports" parameterType="list">
    insert into truck_exports_lists ( user_id, customs_clearance,
    destination, package_no, serial_no,
    parts_no, parts_name, parts_en_name,
    unit, quinty, buy_price,sale_price,
    cart_type, create_time, update_time
    )
    values
    <foreach collection="exportsListsList" index="index" item="item" separator=",">
      (
      #{item.userId,jdbcType=INTEGER}, #{item.customsClearance,jdbcType=VARCHAR},
      #{item.destination,jdbcType=VARCHAR}, #{item.packageNo,jdbcType=VARCHAR}, #{item.serialNo,jdbcType=VARCHAR},
      #{item.partsNo,jdbcType=VARCHAR}, #{item.partsName,jdbcType=VARCHAR}, #{item.partsEnName,jdbcType=VARCHAR},
      #{item.unit,jdbcType=VARCHAR}, #{item.quinty,jdbcType=INTEGER},#{item.buyPrice,jdbcType=DECIMAL},#{item.salePrice,jdbcType=DECIMAL},
      #{item.cartType,jdbcType=VARCHAR},  now(), now()
      )
    </foreach>
  </insert>

  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from truck_exports_lists
  </select>
  
</mapper>